.properties {
  border: 1px solid #ccc;
  padding: 1rem;

  button {
    width: 100%;
    margin-top: .5rem;
  }
}

table {
  margin-bottom: .5rem;
}



app-counter {
  max-width: 200px;
}

img {
  max-width: 100%;
  height: auto;
}


