<h3>About</h3>


<div class="card">
  <h4>Project</h4>
  <p>This is my first project on Angular 10</p>
  <p>This project is a vape-themed online store.</p>
  <p>The project uses firebase as backend and also has a hidden <a href="#" [routerLink]="['/admin']">/admin</a> panel</p>
</div>

<div class="card">
  <h4>Technologies</h4>
  <p>Project completed using the Angular 10</p>
  <p>SCSS is used as a css preprocessor</p>
  <p>Materializecss is used as a css library</p>
</div>

<div class="card">
  <h4>Github</h4>
  <p><a href="https://github.com/s3nPy/Angular-VapeShop">
    <i class="fa fa-github">Angular VapeShop</i>
  </a></p>
</div>
